:root {
    color-scheme: dark; /* Modo oscuro */
    --color-primary: lightgreen; /* Variable */
}

/* div {
    width: 250px;
    height: 250px;
    border: 1px solid white;
    /* background-color: lightgreen; */
    /* background-color: var(--color-primary); *//* Usar variable */
/* } */

#container{
    display: flex;
    /* height: 100vh; */
    width: 200px;
    border: 1px solid red;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
}

.element{
    width: 100px;
    height: 100px;
    border: 1px solid white;
    text-align: center;
    line-height: 100px;/* Centrar el texto */
    font-size: large;
    flex-grow: 2;
}




/* div {
    width: 250px;
    height: 250px;
    border: 1px solid white;
    /* background-color: lightgreen; */
    /* background-color: var(--color-primary); *//* Usar variable */
/* } */

/* 
@media(max-width: 599px) {
    .small{
        background-color: aqua;
        display: none;
    }
  }
  
  @media(min-width: 600px) and (max-width: 999px) {
    .medium {
      width: 400px;
    }
  }
  
  @media(min-width: 1000px) {
    .large {
      background-color: blue;
    }
  } */





  div {
    width: 100px;
    height: 100px;
  }
  
  #container{
    display: flex;
    width: 500px;
    height: 800px;
    border: 1px solid red;
  }
  
  #child1 {
    background-color: red;
  }
  
  #child2 {
    background-color: green;
  }
  
  #child3 {
    background-color: blue;
  }
  
  #child4 {
    background-color: yellow;
  }
  
  
  @media(max-width: 600px){
    #container{
      flex-direction: column;
      align-items: center;
      justify-content: end
    }
    
    #child4 {
      align-content: end
    }
    
  }
  
  @media(min-width: 600px) and (max-width: 900px){
    #container{
      flex-direction: row;
      align-items: start;
      justify-content: center;
    }
  }
  
  @media(min-width: 900px){
    #container{
      flex-direction: column;
      align-items: end;
      justify-content: center;
      
    }
  }