#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.scaleText{
  animation: scaleText 2s 1;
}

@keyframes scaleText {
  0%{
    scale: 1;
  }
  100%{
    scale: 1.5;
    color: aquamarine;
  }
}